### Machine learning

#### Data

In [1]:
import pandas as pd
df = pd.read_csv("/home/trungnt/workplace/dyno/predict-gender/data/gender.csv")
df.head()

                id            name  gender  split
0  100000111502498      Hưng Thông    male  train
1  100003505611477         Meri No  female  train
2  100003537667477         Ân Đặng    male  train
3  100003538211271  Nguyễn An Lành    male  train
4  100003581239895  Ánh Candy Elsa  female  train

#### Image

<img alt="Initial view of Jupyter Notebook" width="658" caption="Initial view of Jupyter Notebook" id="notebook_init" src="../images/about/trungnt.jpg">